Package: nginx-dbg
Source: nginx
Version: 1.19.1-1~focal
Architecture: amd64
Maintainer: Sergey Budnevitch <sb@nginx.com>
Installed-Size: 19792
Depends: nginx (= 1.19.1-1~focal)
Section: debug
Priority: extra
Homepage: http://nginx.org
Description: nginx debug symbols
 This package contains the debugging symbols for nginx.
Build-Ids: 090d26fb7bd1bdab3dc7bacc67cd86f613e08484 fb53ad4b87d666fa6e4eb6c33c71f95b5616b4f6
